<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-1 footprint-container">
      <div class="fp-container"><i id="fp-1" class="fa fa-paw fa-rotate-180 footprint" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-2" class="fa fa-paw fa-rotate-180 footprint footprint-right" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-3" class="fa fa-paw fa-rotate-180 footprint" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-4" class="fa fa-paw fa-rotate-180 footprint footprint-right" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-5" class="fa fa-paw fa-rotate-180 footprint" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-6" class="fa fa-paw fa-rotate-180 footprint footprint-right" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-7" class="fa fa-paw fa-rotate-180 footprint" aria-hidden="true"></i></div>
      <div class="fp-container"><i id="fp-8" class="fa fa-paw fa-rotate-180 footprint footprint-right" aria-hidden="true"></i></div>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <br/><br/>
      <h2>More Wag, Less Bark</h2>
      <br/>
      <div class="lead">
        Hello pet lovers, my name is Kelly Jue. I have been grooming <b>for 10 years</b>, and have started to take my passion on the road! I am now serving the <b>Fresno & Clovis</b> area, and all <b>neighboring cities</b>.
      </div>
      <div class="lead">
        I come to your home and groom your pets in my <b>mobile grooming salon</b>. No need to stop what you are doing, drive to your grooming facility, drop your pets off, only to have to return in 6 hours to pick them up. <b>I come to you</b>, and groom them right outside your home. Usually within an hour!
      </div>
      <div class="lead">
        Your pets will appreciate the fact that they do not have to stay in cages. <b>No cages</b> here! <b>One-on-one personal attention</b> to your pet, is what I bring.
      </div>
      <br/>
    </div>
  </div>
</section>
<script>
// init controller
var controller = new ScrollMagic.Controller({globalSceneOptions: {duration: 400}});

new ScrollMagic.Scene({triggerElement: "#about"})
.setClassToggle("#fp-1", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-1"})
.setClassToggle("#fp-2", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-2"})
.setClassToggle("#fp-3", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-3"})
.setClassToggle("#fp-4", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-4"})
.setClassToggle("#fp-5", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-5"})
.setClassToggle("#fp-6", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-6"})
.setClassToggle("#fp-7", "active") // add class toggle
.addTo(controller);

new ScrollMagic.Scene({triggerElement: "#fp-7"})
.setClassToggle("#fp-8", "active") // add class toggle
.addTo(controller);
</script>
