<section id="home">
	<!-- Header -->
	<div class="intro-header">
		
		<div class="overlay">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-12">
						<div class="intro-message">
							<h1>
								{{ page.title }}
							</h1>
							<hr class="intro-divider">
							<h2>
								<i class="fa fa-paw" aria-hidden="true"></i>
								{{ page.subTitle }}
								<i class="fa fa-paw" style="margin-left: 1px;" aria-hidden="true"></i>
							</h2>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /.container -->
			
		</div>
	</div>
	<!-- /.intro-header -->
</section>
